// Body
$body-bg: #3d3866;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #1e194a;
$indigo: #4d43ab;
$purple:#2c2947;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #2c2947;
$cyan: #6cb2eb;
